.gradio-container {
  background-color: #0076BA;
  background: radial-gradient(ellipse at top, #FF4B4C, #0076BA);
              radial-gradient(ellipse at bottom, #FF4B4C, #0076BA);
  background-size: contain;
  background-repeat: repeat;
  font-family: Courier New, monospace;
}
.gr-button-lg {
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 900;
}
toptitle {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: regular;
  color:White;
  text-align: center;
  line-height: 130%;
  text-transform: uppercase;
}
sectitle {
  font-size: 1em;
  text-transform: uppercase;
  color:GhostWhite;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
bottomtext {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: regular;
  color: rgb(156 163 175 / var(--tw-text-opacity));
  text-align: right;
  line-height: 130%;
  bottom: 0;
}
disstyle {
  display: block;
  font-size: 2em;
  font-weight: 800;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: regular;
  color:GhostWhite;
  text-shadow: 1px 1px 1px purple;
  text-align: center;
  line-height: 130%;
}
expstyle {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  display: block;
  font-size: 2.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 200;
  text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
  color:#ffb8fa;
  text-align: center;
  line-height: 130%;
}